.scrollable {
    overflow: auto;
    white-space: nowrap;
    flex-direction: row;
    column-gap: 20px;
}

#menu {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.products_block {
    margin-bottom: 5%;
}

.products {
    display: flex;
    flex-flow: row wrap;
    column-gap: 2em;
    row-gap: 2em;

}

.product {
    display: flex;
    flex-flow: column wrap;
}

.product > img {
    border-radius: 1em;
    max-width: 100%;
    width: 320px;
}
