.scrollable {
    overflow: auto;
    white-space: nowrap;
    flex-direction: row;
}

div.scrollable a {
    text-align: center;
    margin-right: 20px;
}

#menu {
    margin-left: 10%;
    margin-right: 10%;
}

.products_block {
    margin-bottom: 5%;
}

.products {
    display: flex;
    flex-flow: row wrap;
}

.product {
    display: flex;
    flex-flow: column wrap;
    column-gap: 20px;
    max-width: 320px;
}