div.scrollable {
    overflow: auto;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.scrollable a {
    text-align: center;
    margin-right: 20px;
}

.product {
    display: flex;
    flex-flow: column wrap;
}

#menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}