{%  extends "base.html" %}


{% block custom_head %}
    {% load static %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock custom_head %}


{% block main_content %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-nav scrollable">
            <a class="nav-item nav-link scrollable-item" href="#">Салаты</a>
            <a class="nav-item nav-link scrollable-item" href="#">Горячее</a>
            <a class="nav-item nav-link scrollable-item" href="#">Гарниры</a>
            <a class="nav-item nav-link scrollable-item" href="#">Супы</a>
            <a class="nav-item nav-link scrollable-item" href="#">Пирожки сытные</a>
            <a class="nav-item nav-link scrollable-item" href="#">Пирожки сладкие</a>
            <a class="nav-item nav-link scrollable-item" href="#">Блины</a>
            <a class="nav-item nav-link scrollable-item" href="#">Напитки</a>
        </div>
    </div>
</nav>
{% endblock main_content %}