{%  extends "base.html" %}


{% block custom_head %}
    {% load static %}
    <style>
        @font-face {
            font-family: monologue;
            src: url("{% static 'fonts/MonologueRounded.otf' %}") format("otf");
        }
    </style>
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
    <title>Меню</title>
{% endblock custom_head %}


{% block main_content %}
    <nav class="navbar sticky-top navbar-light bg-light" id="menuNav">
        <div class="container-fluid" style="justify-content: center;">
            <div class="navbar-nav scrollable">
                <a class="nav-item nav-link" href="#SA">Салаты</a>
                <a class="nav-item nav-link" href="#HO">Горячее</a>
                <a class="nav-item nav-link" href="#GA">Гарниры</a>
                <a class="nav-item nav-link" href="#SO">Супы</a>
                <a class="nav-item nav-link" href="#PI">Пирожки сытные</a>
                <a class="nav-item nav-link" href="#CA">Пирожки сладкие</a>
                <a class="nav-item nav-link" href="#PA">Блины</a>
                <a class="nav-item nav-link" href="#DR">Напитки</a>
            </div>
        </div>
    </nav>

    <script type="text/javascript">
        const products = JSON.parse(`{{ products|safe }}`);
        const products_labels = JSON.parse(`{{ products_labels|safe }}`);
    </script>

    <main id="menu" data-bs-spy="scroll" data-bs-target="#menuNav" tabindex="0"></main>
{% endblock main_content %}


{% block react_scripts %}
    {% load static %}
    <script src={% static "js/products_display.js" %}></script>
{% endblock react_scripts %}
